body {
    text-align: center;
}

#header {
    font-weight: bold;
    font-size: 30px;
}

#album {
    border-bottom-width: thick;
    border-bottom-color: green;
    border-bottom-style:dashed;
    padding: 2px;
    height: 400px;
}
